// Contact Page
.contact {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-image: url('/src/assets/backgrounds/contact-background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  // Left Section
  .info-section,
  .portrait-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-section {
    flex-direction: column;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 25%;
      right: 0;
      height: 50%;
      width: 1px;
      background-color: white;
    }

    a {
      color: white;
      margin-top: 0.5rem;

      &:hover {
        color: rgb(0, 0, 0);
      }
    }
  }

  // Right Section
  .portrait-section {
    align-items: flex-end;
    img {
      width: 45%;
      min-width: 450px;
    }
  }

  .frog-boy {
    position: absolute;
    width: 15%;
    min-width: 250px;
    bottom: 0;
    right: 5rem;
    z-index: 1;
  }
}

// Mobile
@media (max-width: 896px) {
  .contact {
    flex-direction: column;
    height: 100vh;

    .info-section,
    .portrait-section {
      width: 100%;
      flex-direction: column;
      margin: 1rem 0;
      padding-left: 0;
      align-items: center;
      text-align: center;
    }

    .info-section {
      z-index: 1;
      &::after {
        display: none;
      }
    }

    .portrait-section {
      img {
        position: absolute;
        width: 70% !important;
        bottom: 0;
        min-width: 350px;
      }
    }

    .frog-boy {
      display: none;
    }
  }
}
