// Header Component
.header {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  overflow: hidden;
  z-index: 1;

  // Background
  .header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 0 50%;
    z-index: -1;
  }

  // Left Text Section
  .left-text {
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;
  }

  // Middle Logo Section
  .logo {
    width: 70rem;
    justify-self: center;
    margin: 0 auto;
  }

  // Right Text Section
  .right-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    bottom: 10rem;
    font-size: 1.5rem;
  }

  // Arrow Btn
  .arrow-down {
    position: absolute;
    font-size: 60px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1.5s infinite;
    &:hover {
      cursor: pointer;
      color: gray;
    }
  }

  // Btn Animation
  @keyframes bounce {
    0%,
    100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-10px);
    }
  }
}

// Tablet
@media (max-width: 1390px) {
  .header {
    .logo {
      width: 40rem;
    }
    .right-text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-self: center;
      text-align: center;
      bottom: 10rem;
      font-size: 1rem;
    }
  }
}

// Mobile
@media (max-width: 896px) {
  .header {
    display: flex;
    justify-content: center;
    .logo {
      width: 40rem;
    }

    .left-text,
    .right-text {
      display: none;
    }
  }
}
